.App {
  text-align: center;
}
.App-link {
  color: #61dafb;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}

.grid-item {
  background-color: #f1f1f1;
  padding: 20px;
}