@font-face {
  font-family: 'xkcd-script';
  /* TODO: check font in deployment */
  src: url('../public/xkcd-script.woff');
}
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

p, span, h1, h2, h3, h4, button {
  font-family: 'xkcd-script', 'Patrick Hand SC', sans-serif;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galleryButton {
  border: thin black solid;
  max-width: max-content;
}

